.git
.github
.next
node_modules
**/node_modules
**/.next
**/storybook-static
**/coverage
**/test-results
**/playwright-report
**/.turbo
**/dist
**/out
apps/api/.gradle
apps/api/build
.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.production.example
!**/.env.example
.DS_Store
*.log
*.iml
.idea
.vscode
